<span class="inner-field-short-description">
{% if object.providerName is defined and object.providerName == 'sonata.media.provider.image' %}
{% thumbnail object, 'medium' %}
{% else %}
{{ description }}
{% endif %}
</span>
