{% extends 'default/header.html.twig' %}
{% block title %}{{'catalog.products'|trans}}{% endblock %}
{% block content %}
<div class="sidebar">
  <div class="title"><h1>{{'catalog.categories'|trans}}</h1></div>
  <ul>
    {% for cat in category %}
      <li><a href="{{ path('category', {'slug': cat.slug}) }}">{{('category.'~cat.slug)|trans}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="title">
  <h1>&nbsp;&nbsp;
    {% if slug %}
      {{ ('category.'~slug)|trans }}
    {% else %}
      {{'catalog.products'|trans}}
    {% endif %}
  </h1>
</div>
<div class="content">
  {% for product in dump %}
    <div class="product">
      <div class="product_image">
        {% if product.media %}
          <a href="{{path('product',{'id':product.sku})}}">{%thumbnail product.media, 'medium'%}</a>
        {% else %}

        {% endif %}
      </div>
      <div class="product_content">
        <div class="product_title">
          <a href="{{ path('product', {'id': product.sku}) }}"><h1>{{product.title}}</h1></a>
        </div>
        <p>{{product.text}}</p>
      </div>
      <a href="{{ path('product', {'id': product.sku}) }}"><div class="corner"></div></a>
    </div>
  {% endfor %}
  <div class="pagination">
    <input type="button" {{ page == 1 ? "disabled" }} value="< {{'pagination.back'|trans}}" onclick="window.location.href='{{ slug ? path('category_page', {'slug': slug, 'page': page -1}) : path('catalog_page', {'page': page -1}) }}'">
    <span>{{'pagination.page'|trans({'%page%': page, '%pages_total%': pages_total})}}</span>
    <input type="button" {{ page == pages_total ? "disabled" }} value="{{'pagination.next'|trans}} >" onclick="window.location.href='{{ slug ? path('category_page', {'slug': slug, 'page': page+1}) : path('catalog_page', {'page': page+1}) }}'">
  </div>
</div>
<style media="screen">
  .sidebar {
    float: left;
    width: 20%;
    height: 300px;
    margin: 1% 2% 0 2%;
    background: white;
    box-shadow: 4px 4px 2px #9e9e9e;
  }

  .sidebar .title {
    padding-left: 10%;
    background: var(--main-color);
  }

  .sidebar .title h1 {
    color: white;
    margin-top: 0.3em;
  }

  .sidebar ul {
    list-style: none;
  }

  .sidebar ul li {
    margin-bottom: 10px;
  }
  .sidebar a {
    color: var(--main-color);
    text-decoration: none;
  }

  .sidebar a:hover {
    background-color: var(--main-color);
    /*text-decoration: overline;*/
    color: white;
    padding: 10px;
    margin-left: -10px;
  }

  .title {
    display: flex;
  }

  .title h1 {
    margin-bottom: 0;
    font-family: Ubuntu, sans-serif;
  }

  .content {
    display: flex;
    flex-flow: row wrap;
  }

  .product {
    position: relative;
    width: 50%;
    margin: 2%;
    display: flex;
    flex: 1 1 46%;
    justify-content: flex-start;
    background: white;
    box-shadow: 4px 4px 2px #9e9e9e;
  }

  .product_title {
    height: 6.5ch;
    overflow: hidden;
  }

  .product_content h1 {
    color: var(--main-color);
    font-size: 1em;
    margin-right: 10px;
    margin-bottom: 0;
    padding-left: 0;
    font-family: Ubuntu, sans-serif;
  }

  .product_content a {
    text-decoration: none;
  }

  .product_content h1:hover {
    color: #d31515;
  }

  .product_content p {
    font-size: 0.8em;
    margin-right: 10px;
  }

  .product .corner {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 70px solid var(--main-color);
    border-left: 70px solid transparent;
  }

  .product .corner:hover {
    border-bottom: 70px solid #c31515;
  }

  .product_image {
    align-self: center;
    padding: 10px;
  }

  img {
    display: block;
  }

  .pagination {
    margin-top: 10px;
    flex-basis: 100%;
    margin-bottom: 50px;
    text-align: center;
  }

  .pagination input {
    padding: 20px;
    font-size: large;
    background: white;
    color: black;
    border: none;
    box-shadow: 4px 4px 2px #9e9e9e;
    cursor: pointer;
  }

  .pagination input:hover {
    background: var(--main-color);
    color: white;
  }

  .pagination input[disabled] {
    display: none;
  }

  .pagination span {
    background: white;
    padding: 20px;
    box-shadow: 4px 4px 2px #9e9e9e;
    margin: auto 5px;
  }

  @media all and (max-width: 768px) {
    .content {
      flex-direction: column;
    }

    .sidebar {
      float: none;
      width: auto;
    }
  }

</style>
{% endblock %}
