{% extends 'default/header.html.twig' %}
{% block title %}{{'contacts.title'|trans}}{% endblock %}
{% block content %}
<div class="content">
  <div class="corner"></div>
  <div class="title">
    <h1>{{'contacts.title'|trans}}</h1>
  </div>
  <div class="mmm">
    <div class="form">
      <h1>Leave feedback</h1>
      {% if sku != '' %}
      <p class="note">{{'contacts.form.note'|trans({'%sku%': sku})}}</p>
      {% endif %}
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
      <br>
      <h1>Social networks</h1>
      <p>ejnfej<br>jnfjnfnf<br>nfjnfjnfj<br>jfnjf</p>
    </div>
    <div class="right">
      <h1>Our address</h1>
      <div class="">
        <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ8x0HjlIxMEcRcH_ttCektYI&key=AIzaSyD50OBoti9-tDaqKrLEYLHYiMy6X-oO9H4" allowfullscreen></iframe>
      </div>
      <br>
      <p>Shukhevycha str 10<br>Ternopil, Ukraine<br>46000</p>
    </div>
  </div>
</div>
<style media="screen">
  .content {
    position: relative;
    margin: 2%;
    padding: 2%;
    height: auto;
    background: white;
    box-shadow: 4px 4px 2px #9e9e9e;
  }

  .title {
    position: absolute;
    z-index: 10;
    color: white;
  }

  .mmm {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .right {
    border-left: 4px solid var(--main-color);
    display: flex;
    flex-direction: column;
  }

  .right div {
    height: 100%;
  }

  .mmm div {
    flex: 1 1 40%;
    padding: 0 5%;
  }

  .content .corner {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    border-top: 100px solid var(--main-color);
    border-right: 100px solid transparent;
  }

  .content h1 {
    margin: 0;
    font-family: Ubuntu, sans-serif;
  }

  .note {
    color: var(--main-color);
  }

  input, textarea {
      display: block;
      width: 80%;
      height: 20px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: var(--main-color);
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
               -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  input:focus, textarea:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
                      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  input::-moz-placeholder, textarea::-moz-placeholder {
      color: #999;
      opacity: 1;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
      color: #999;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color: #999;
  }
  input::-ms-expand, textarea::-ms-expand {
      background-color: transparent;
      border: 0;
  }
  input[disabled],
  input[readonly],
  textarea[disabled],
  textarea[readonly],
  fieldset[disabled] input {
      background-color: #eee;
      opacity: 1;
  }
  input[disabled],
  textarea[disabled],
  fieldset[disabled] input {
      cursor: not-allowed;
  }
  textarea {
    height: auto;
  }
  button {
    color: #ffffff;
    background-color: var(--main-color);
    border-color: #d31515;
    margin-top: 2%;
    display: block;
    padding: 6px 12px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  button:hover,
  button:focus,
  button:active,
  button.active,
  .open .dropdown-togglebutton {
    color: #ffffff;
    background-color: #d31515;
    border-color: #d31515;
  }

  button:active,
  button.active,
  .open .dropdown-togglebutton {
    background-image: none;
  }

  button.disabled,
  button[disabled],
  fieldset[disabled] button,
  button.disabled:hover,
  button[disabled]:hover,
  fieldset[disabled] button:hover,
  button.disabled:focus,
  button[disabled]:focus,
  fieldset[disabled] button:focus,
  button.disabled:active,
  button[disabled]:active,
  fieldset[disabled] button:active,
  button.disabled.active,
  button[disabled].active,
  fieldset[disabled] button.active {
    background-color: var(--main-color);
    border-color: #d31515;
  }

  button .badge {
    color: var(--main-color);
    background-color: #ffffff;
  }
</style>
{% endblock %}
