{% extends 'base.html.twig' %}

{% block body %}
  <header>
    <ul class="nav-menu">
      <li><h1 class="logo">IMPLA</h1></li>
      <li><a href="{{ path('homepage') }}">{{'head.home'|trans}}</a></li>
      <li><a href="{{ path('catalog') }}">{{'head.catalog'|trans}}</a></li>
      <li><a href="{{ path('contacts') }}">{{'head.contacts'|trans}}</a></li>
    </ul>
    <div class="figure-container">
    <div class="rect-container">
      <svg viewBox="0 0 100 100">
        <polygon points="0,0 100,0 100,100 " class="rect" />
        Sorry, your browser does not support inline SVG.
      </svg>
    </div>
    </div>
    <ul class="locales">
      <li><a href="{{ path('setlocale', {loc: 'en'}) }}">English</a></li>
      <li><a href="{{ path('setlocale', {loc: 'uk'}) }}">Українська</a></li>
      <li><a href="{{ path('setlocale', {loc: 'ru'}) }}">Русский</a></li>
    </ul>
  </header>
  {% block content %}{% endblock %}
  <footer>
    <div class="wrapper">
      <div class="column">
        <p><a href="{{ path('homepage') }}">{{'head.home'|trans}}</a></p>
        <p><a href="{{ path('catalog') }}">{{'head.catalog'|trans}}</a></p>
        <p><a href="{{ path('contacts') }}">{{'head.contacts'|trans}}</a></p>
      </div>
      <div class="column">
        <p><a href="{{ path('catalog') }}">{{'head.catalog'|trans}}</a></p>
        <a href="{{path('category', {'slug': 'surgery'})}}">{{'category.surgery'|trans}}</a><br>
        <a href="{{path('category', {'slug': 'prosthetics'})}}">{{'category.prosthetics'|trans}}</a><br>
        <a href="{{path('category', {'slug': '3d-navigation'})}}">{{'category.3d-navigation'|trans}}</a><br>
      </div>
      <div class="red column">
        <p>{{'product.interested'|trans}}</p>
        <p>{% for i in 0..3 %}
        {{('contacts.footer.'~i)|trans}}<br>
        {% endfor %}</p>
      </div>
    </div>
    <div class="bottom_corner"></div>
  </footer>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/slick/slick.css"/>
<link rel="stylesheet" href="/slick/slick-theme.css"/>
<style>
  @import url('https://fonts.googleapis.com/css?family=Raleway');
  @import url('https://fonts.googleapis.com/css?family=Ubuntu');
  :root { --main-color: #c31515; }
  body { background: #eeeeee; font: 18px/1.5 sans-serif; margin: 0; font-family: Ubuntu; }
  [type=submit] { font-size: 18px; }
  header { background-color: white; margin: 0; box-shadow: 4px 4px 2px #9e9e9e; position: relative; }
  header .corner { position: absolute; top: 0; right: 0; width: 773px; border-top: 108px solid var(--main-color); border-left: 108px solid transparent; }
  header .locales { position: absolute; right: 50px; top: 58px; list-style: none; }
  header .locales li { display: inline; }
  header .locales li:not(:first-child):before { content: " | "; color: white; }
  header .locales a { color: white; text-decoration: none; }

  .nav-menu { list-style: none; margin: 0; padding: 20px 0 0 80px; }
  .nav-menu li { display: inline; }
  .nav-menu h1 { line-height: 1.2; margin: 0 0 .5em; font-size: 36px; color: var(--main-color); padding-left: 5px; }
  .nav-menu a { color: var(--main-color); text-decoration: none; padding: 5px; }
  .nav-menu a:hover { color: #fff; background-color: var(--main-color); text-decoration: none; }
  .figure-container {
    width: 100%;
  }
  .rect-container {
    overflow: hidden;
    float: right;
    background: transparent;
    position: absolute;
    height: 100%;
    width: 65%;
    right: 0;
    top: 0;
  }
  .rect-container svg { fill: var(--main-color); }
  
  footer { background: white; height: 300px; margin: 0; position: relative; border-top: 4px solid var(--main-color); box-shadow: 4px 4px 2px #9e9e9e; }
  footer .bottom_corner { position: absolute; right: 0; bottom: 0; width: 336px; border-bottom: 300px solid var(--main-color); border-left: 300px solid transparent; }
  footer ul { list-style: none; }
  footer a { color: var(--main-color); text-decoration: none; padding: 5px; }
  footer a:hover { color: #fff; background-color: var(--main-color); text-decoration: none; }
  .wrapper { padding-left: 50px; display: flex; flex-direction: row; z-index: 10; }
  .column { flex: 1 0 15%; padding: 2% 5%; z-index: 10; }
  .red a { color: white; }
  .red { padding-right: 0; color: white; }
</style>
{% endblock %}
