{% extends 'default/header.html.twig' %}
{% block content %}
  <div class="content">

    <div class="slider autoplay">
      <div class="hello">
        <div class="corner"></div>
        <h2>&nbsp;{{'banner.welcome'|trans}}</h2>
        <h3>{{'banner.welcome-desc'|trans}}</h3>
      </div>
      <div class="hello">
        <div class="corner"></div>
        <h2>&nbsp;{{'category.surgery'|trans}}</h2>
        <h3>{{'banner.surgery'|trans}}</h3>
      </div>
      <div class="hello">
        <div class="corner"></div>
        <h2>&nbsp;{{'category.prosthetics'|trans}}</h2>
        <h3>{{'banner.prosthetics'|trans}}</h3>
      </div>
      <div class="hello">
        <div class="corner"></div>
        <h2>&nbsp;{{'category.3d-navigation'|trans}}</h2>
        <h3>{{'banner.3d-navigation'|trans}}</h3>
      </div>
    </div>

  </div>
  <style media="screen">
    .content { position: relative; margin: 0; margin-top: 70px; height: 600px; box-shadow: 4px 4px 2px #9e9e9e; }
    /*.hello .corner { z-index: 100; position: absolute; left: 0; top: 0; width: 0; height: 0; border-top: 100px solid var(--main-color); border-right: 100px solid transparent; }
    .hello { position: relative; }*/
    h2 { font-size: 12vw; height: 22vw; margin: 0; color: #000; }
    h3 { margin: 0 0 0 70px; color: #999; font-size: 4vw;}
    .slider { width: 90%; margin: auto; }
    .slider > div { padding: 27px; }
    .slick-prev:before, .slick-next:before { color: var(--main-color); opacity: 1; }
    .content > .corner {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      border-top: 773px solid var(--main-color);
      border-left: 773px solid transparent;
    }
    .content > .bottom_corner {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      border-bottom: 332px solid var(--main-color);
      border-left: 332px solid transparent;
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <script src="/slick/slick.js"></script>
  <script type="text/javascript">
  $('.autoplay').slick({
    dots: true,
    arrows: true,
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 3000,
  });
  </script>
{% endblock %}
