{% extends 'default/header.html.twig' %}
{% block title %}{{dump.title}}{% endblock %}
{% block content %}
<div class="content">
  <div class="product">
    <div class="product_image">
      {% media dump.media, 'big' %}
    </div>
    <div class="triangle-container">
      <div class="corner_description">
        <h1>{{dump.title}}</h1>
        <br>
        <p>{{dump.description}}</p>
      </div>
    </div>
    <div class="product_description">
      <span>{{'product.sku'|trans}}: <span>{{dump.sku}}</span></span>
      <div class="contact_us">
        <div class="title"><h1>{{'product.interested'|trans}}</h1></div>
        <script src="/js/jquery.min.js"></script>
        {% if option %}
          <p>{{option.0.name}}</p>
          <select id="option-one" class="form-control select" name="{{option.0.id}}">
          <option value>{{'product.select'|trans}}:</option>
          {% for value in option.0.values %}
            <option value="{{value.id}}">{{value.name}}</option>
          {% endfor %}
          </select>
          {% if option|length == 1 %}
            <script type="text/javascript">
              $('#option-one').change(function () {
                if ($('#option-one option:checked').val()) {
                  $.ajax({
                    url: '{{path("sku")}}',
                    method: 'POST',
                    data: {
                      value: $('#option-one option:checked').val(),
                      selectType: 1
                    },
                    success: function (sku) {
                      $('.product_description span span').text(sku)
                    }
                  })
                }
              })
            </script>
          {% endif %}
        {% endif %}
        {% if option|length == 2 %}
          <p>{{option.1.name}}</p>
          <select id="option-two" class="form-control select" disabled name="{{option.1.id}}">
            <option value>{{'product.select'|trans}} {{option.0.name|lower}}</option>
          </select>
          <script type="text/javascript">
            $(document).ready(function () {
              $('#option-one').change(function () {
                $('#option-two').attr('disabled','')
                if ($('#option-one option:checked').val()) {
                  $.ajax({
                    url: '{{path("values")}}',
                    method: 'POST',
                    data: {
                      value: $('#option-one option:checked').val()
                    },
                    success: function (result) {
                      var values = JSON.parse(result)
                      $('#option-two option').remove()
                      $('#option-two').append('<option value>{{"product.select"|trans}}:</option>')
                      for (var value in values) {
                        $('#option-two').append('<option value="'+values[value].id+'">'+values[value].name+'</option>')
                      }
                      $('#option-two').removeAttr('disabled')
                    }
                  })
                } else {
                  $('#option-two option').remove()
                  $('#option-two').append('<option value>{{"product.select"|trans}} {{ option.0.name|lower }}</option>')
                }
              })
              $('#option-two').change(function () {
                if ($('#option-two option:checked').val()) {
                  $.ajax({
                    url: '{{path("sku")}}',
                    method: 'POST',
                    data: {
                      value: $('#option-two option:checked').val(),
                      selectType: 2
                    },
                    success: function (sku) {
                      $('.product_description span span').text(sku)
                    }
                  })
                }
              })
            })
          </script>
        {% endif %}
        <form class="request" action="{{ path('contacts') }}" method="post">
          <input type="hidden" name="sku" value="">
          <input type="submit" value="{{'product.request'|trans}}">
        </form>
        <script type="text/javascript">
          $('.request').submit(function () {
            $('input[name="sku"]').val($('.product_description span span').text())
          })
        </script>
      </div>
    </div>
    <!-- <div class="corner"></div> -->
  </div>
  <div class="product_details">
    <h2>{{'product.description'|trans}}</h2>
    <p>{{dump.text}}</p>
    <br>
    <br>
  </div>
  <div class="related">
    <h1>{{'product.related'|trans}}</h1>
    <div class="row">
      {% for rel in related %}
      <div class="related_product">
        <a href="{{path('product', {id: rel.sku})}}">{% media rel.media, 'medium' %}</a>
        <a href="{{path('product', {id: rel.sku})}}"><p>{{rel.title}}</p></a>
      </div>
      {% endfor %}
    </div>
    <div class="bottom_corner"></div>
  </div>
</div>
<style media="screen">
  body {
      background: white;
      font-size: 1.4vw;
  }

  h1, p {
      z-index: 10;
  }

  header {
      box-shadow: none;
  }

  .rect-container {
    overflow: visible;
  }
  
  .content {
    position: relative;
  }

  .product {
      padding-top: 27px;
      display: flex;
      flex: 1;
  }

  .product_description {
      margin: 25px;
      margin-top: 170px;
      z-index: 10;
      position: relative;
      right: 10px;
  }

  .corner_description {
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 10;
  }

  .corner_description h1 {
    color: white;
    float: right;
    text-align: right;
    text-indent: -90px;
    max-width: 80%;
    margin-top: 0.3em;
  }

  .corner_description p {
    color: white;
    float: right;
    font-size: 1.3em;
    text-align: right;
    max-width: 60%;
  }

  .product_image {
      padding: 25px;
      width: auto;
      max-width: 50%;
      float: left;
      border-right: 4px solid var(--main-color);
  }

  .select {
    width: 20em;
  }

  .product_details {
    flex: 1 0 100%;
    padding: 2%;
    margin-top: 27px;
  }

  .product .corner {
    position: absolute;
    top: -27px;
    right: 0;
    width: 0px;
    border-top: 773px solid var(--main-color);
    border-left: 773px solid transparent;
  }

  .triangle-container {
    background: transparent;
    position: absolute;
    height: auto;
    width: 57%;
    right: 0;
    top: 0;
  }
  .triangle-container svg { fill: var(--main-color); }

  .related {
    position: relative;
    padding: 25px;
  }

  .related .bottom_corner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    border-bottom: 332px solid var(--main-color);
    border-left: 332px solid transparent;
  }

  .row {
    display: flex;
    width: 75%;
    flex-direction: row;
  }

  .related_product {
    flex: 1 0 31%;
    padding: 1%;
    text-align: center;
  }

  .related_product h1 { display: inline; }
  .related_product a { color: var(--main-color); text-decoration: none; padding: 5px; }
  .related_product a:hover h1 { color: #fff; background-color: var(--main-color); text-decoration: none; }

  .form-control {
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
               -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .form-control:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
                      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  .form-control::-moz-placeholder {
      color: #999;
      opacity: 1;
  }
  .form-control:-ms-input-placeholder {
      color: #999;
  }
  .form-control::-webkit-input-placeholder {
      color: #999;
  }
  .form-control::-ms-expand {
      background-color: transparent;
      border: 0;
  }
  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
      background-color: #eee;
      opacity: 1;
  }
  .form-control[disabled],
  fieldset[disabled] .form-control {
      cursor: not-allowed;
  }

  input[type="submit"] {
    color: #ffffff;
    background-color: var(--main-color);
    border-color: #d31515;
    margin-top: 30px;
    display: block;
    padding: 6px 12px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active,
  input[type="submit"].active,
  .open .dropdown-toggleinput[type="submit"] {
    color: #ffffff;
    background-color: #d31515;
    border-color: #d31515;
  }

  input[type="submit"]:active,
  input[type="submit"].active,
  .open .dropdown-toggleinput[type="submit"] {
    background-image: none;
  }

  input[type="submit"].disabled,
  input[type="submit"][disabled],
  fieldset[disabled] input[type="submit"],
  input[type="submit"].disabled:hover,
  input[type="submit"][disabled]:hover,
  fieldset[disabled] input[type="submit"]:hover,
  input[type="submit"].disabled:focus,
  input[type="submit"][disabled]:focus,
  fieldset[disabled] input[type="submit"]:focus,
  input[type="submit"].disabled:active,
  input[type="submit"][disabled]:active,
  fieldset[disabled] input[type="submit"]:active,
  input[type="submit"].disabled.active,
  input[type="submit"][disabled].active,
  fieldset[disabled] input[type="submit"].active {
    background-color: var(--main-color);
    border-color: #d31515;
  }

  input[type="submit"] .badge {
    color: var(--main-color);
    background-color: #ffffff;
  }


  @media all and (max-width: 500px) {
    .content {
      flex-direction: column;
    }
  }
</style>
{% endblock %}
