{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% thumbnail object.image, 'small' %}
        {# or whatever to create src of image #}
    </div>
{% endblock %}
